.hostmachinedetails {
    .contain {
        display: flex;
        justify-content: space-between;

        .left {
            width: 1468rem;

            .touto {

                padding: 25rem 0;
                height: 256rem;
                display: flex;

                .yuantu {
                    width: 334rem;

                    .text {
                        font-size: 18px;
                        font-weight: bold;
                        text-align: center;
                        padding-bottom: 20rem;
                    }

                    .echar {
                        height: 158rem;
                        position: relative;

                        .dwc {
                            position: absolute;
                            top: 0;
                            left: 0;
                            right: 0;

                            .younum {
                                position: absolute;
                                top: 126rem;
                                left: 80rem;
                                font-size: 10rem;
                                font-weight: normal;
                                color: #AAAAAA;
                            }

                            .zuonum {
                                position: absolute;
                                top: 126rem;
                                left: 170rem;
                                font-size: 10rem;
                                font-weight: normal;
                                color: #AAAAAA;
                            }

                            .zjiannum {
                                position: absolute;
                                top: 126rem;
                                left: 92rem;
                                font-size: 28rem;
                                font-weight: 900;
                                color: #FA9600;
                                width: 70rem;
                                text-align: center;
                            }
                        }
                    }
                }

                .niuronh {
                    width: 1468rem;
                    padding-right: 40rem;

                    .jiassjian {
                        display: flex;
                        justify-content: space-between;
                        align-items: center;

                        .zsbtboxdq {
                            display: flex;
                            align-items: center;

                            .guns {
                                height: 20rem;
                                width: 4rem;
                                background: #FA9600;
                                margin-right: 8rem;
                            }

                            .wenz {
                                font-size: 24rem;
                                font-weight: bold;
                            }
                        }

                        .sjianimg {
                            display: flex;
                            align-items: center;

                            >img {
                                width: 14rem;
                                margin-right: 10rem;
                            }
                        }
                    }

                    .bqianf {
                        padding: 22rem 0;
                        display: flex;
                        border-bottom: 1px solid rgba(255, 255, 255, 0.3);

                        >div {
                            margin-right: 16rem;
                            width: 66rem;
                            border: 1rem solid;
                            line-height: 22rem;
                            text-align: center;
                            border-radius: 3rem;
                        }

                        .ys1 {
                            color: #0085FF;
                            border-color: #0085FF;
                        }

                        .ys2 {
                            color: #E53A40;
                            border-color: #E53A40;
                        }

                        .ys3 {
                            color: #FA9600;
                            border-color: #FA9600;
                        }

                        .ys4 {
                            color: #29CA9B;
                            border-color: #29CA9B;
                        }
                    }

                    .lidlbi {
                        padding-top: 10rem;

                        >div {
                            display: flex;
                            padding: 10rem 0;

                            >div {
                                display: flex;
                                width: 232rem;
                                font-size: 12rem;
                            }
                        }
                    }
                }
            }

            .tablebg {
                height: 537rem;
                margin-top: 16rem;

                .toubudiv {
                    padding-top: 19rem;
                    padding-bottom: 15rem;
                    border-bottom: 1rem solid rgba(255, 255, 255, 0.3);
                    padding-left: 40rem;
                    display: flex;

                    >div {
                        padding-left: 24rem;
                        padding-right: 40rem;
                        display: flex;
                        align-items: center;
                        position: relative;

                        .wztext {
                            font-size: 16px;
                            font-weight: 500;
                            position: relative;
                            cursor: pointer;
                            border-bottom: 3rem solid #161616;
                            padding-bottom: 4rem;
                        }

                        .wztext:hover {
                            color: #FA9600;
                            border-color: #FA9600;
                        }

                        .dqxianz {
                            color: #FA9600;
                            border-color: #FA9600;
                        }

                        .zxxian {
                            height: 14rem;
                            width: 1rem;
                            background: #D8D8D8;
                            margin-left: 40rem;
                            margin-bottom: 6rem;
                        }

                        .zsyuanq {
                            width: 20rem;
                            height: 20rem;
                            border-radius: 50%;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            position: absolute;
                            background: #FA9600;
                            font-size: 12rem;
                            top: -10rem;
                            right: 58rem;
                            color: #fff;
                        }
                    }
                }
            }
        }

        .right {
            width: 340rem;

            .zsbtboxdq {
                padding: 20rem 0 16rem 30rem;
                display: flex;
                align-items: center;
                border-bottom: 1px solid rgba(255, 255, 255, 0.3);

                .guns {
                    height: 18rem;
                    width: 3rem;
                    background: #FA9600;
                    margin-right: 8rem;
                }

                .wenz {
                    font-size: 18rem;
                    font-weight: bold;
                }
            }

            .xdelis {
                padding: 16rem 0 0 30rem;

                >div {
                    padding-left: 13rem;
                    padding-bottom: 40rem;
                    position: relative;
                    border-left: 2px solid #797979;

                    .textr {
                        line-height: 20rem;
                    }

                    .yuanq {
                        width: 9rem;
                        height: 9rem;
                        border-radius: 50%;
                        background: #FA9600;
                        position: absolute;
                        left: -5rem;
                        top: 0;
                    }

                    .biaot {
                        color: #FA9600;
                    }
                }
            }
        }
    }
}