.instrumentpanel {
    .top {
        display: flex;
        justify-content: space-between;

        >div {
            width: 904rem;
            height: 293rem;
            box-sizing: border-box;
        }

        .top_left {
            display: flex;

            .yauntu {
                width: 375rem;

                .text {
                    font-size: 16rem;
                    font-weight: bold;
                    text-align: center;
                    // padding: 22rem 0;
                    padding-top: 30px;
                    padding-bottom: 20rem;
                }

                .echar {
                    height: 150rem;
                    position: relative;

                    .dw {
                        position: absolute;
                        top: 0;
                        left: 0;
                        right: 0;

                        .younum {
                            position: absolute;
                            top: 118rem;
                            left: 138rem;
                            font-size: 10rem;
                            font-weight: normal;
                            color: #AAAAAA;
                        }

                        .zuonum {
                            position: absolute;
                            top: 118rem;
                            left: 222rem;
                            font-size: 10rem;
                            font-weight: normal;
                            color: #AAAAAA;
                        }

                        .zjiannum {
                            position: absolute;
                            top: 113rem;
                            left: 150rem;
                            font-size: 24rem;
                            font-weight: 900;
                            color: #FA9600;
                            width: 70rem;
                            text-align: center;
                        }
                    }
                }

                .bjtimg {
                    display: flex;
                    justify-content: center;
                    padding: 6rem 0;

                    .numtext {
                        font-size: 18rem;
                        font-weight: normal;
                        margin-left: 8rem;
                    }

                    .tibiao {
                        >img {
                            height: 24rem;
                        }
                    }
                }

                .footery {
                    text-align: center;
                    font-size: 10rem;
                    font-weight: normal;
                }
            }

            .sjdata {
                width: 529rem;
                padding-top: 33rem;
                padding-right: 78rem;

                .scgxe {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    padding-bottom: 20rem;

                    .sjiangx {
                        display: flex;
                        align-items: center;

                        >i {
                            font-size: 14rem;
                            margin-right: 6rem;
                            cursor: pointer;
                        }

                        >p {
                            font-size: 10rem;
                            font-weight: normal;
                        }
                    }

                    .younsles {
                        display: flex;
                        align-items: center;
                        font-size: 10rem;
                        font-weight: normal;
                    }
                }

                .boxsjudhu {
                    display: flex;
                    justify-content: space-between;

                    >div {
                        width: 210rem;
                        height: 80rem;
                        background: #0085FF;
                        border-radius: 8rem;
                        padding-left: 16rem;
                        padding-top: 14rem;

                        .numcs {
                            display: flex;
                            align-items: flex-end;

                            .numtew {
                                font-size: 28rem;
                                font-weight: bold;
                                padding-right: 10rem;
                            }

                            .danwer {
                                font-size: 12rem;
                                padding-bottom: 6rem;
                            }
                        }

                        .tuiyannum {
                            font-size: 14rem;
                            font-weight: normal;
                            padding-top: 2rem;
                        }
                    }

                    .tuiyan {
                        background: url(../img/ty.png) no-repeat;
                        background-size: 100% 100%;
                    }

                    .yb {
                        background: url(../img/yb.png) no-repeat;
                        background-size: 100% 100%;
                    }

                    .yx {
                        background: url(../img/yx.png) no-repeat;
                        background-size: 100% 100%;
                    }

                    .zl {
                        background: url(../img/zl.png) no-repeat;
                        background-size: 100% 100%;
                    }
                }
            }
        }

        .top_right {
            padding: 24rem 28rem 39rem;
            .zqxuanz {
                display: flex;
                justify-content: flex-end;
                align-items: center;
                font-size: 10rem;
                font-weight: normal;
            }

            .ecrlin {
                height: 190rem;
            }
        }
    }

    .bottrmbu {
        display: flex;
        justify-content: space-between;
        padding-top: 16rem;

        .zuoniamt {
            width: 693rem;

            .czaifx {
                padding: 18rem 28rem;
                height: 262rem;
            }

            .xianbian {
                margin-top: 16rem;
                padding: 18rem 28rem;
                height: 262rem;

                .tcneiring {
                    display: flex;
                    justify-content: space-between;

                    .tebdsw {
                        width: 436rem;

                        .jdutiao {
                            /deep/ .el-progress-bar__outer {
                                border: 1rem solid #aaa;
                                background: transparent !important;

                                >div {
                                    >div {
                                        color: #fff !important;
                                    }
                                }
                            }
                        }

                        .bdrd {
                            /deep/ .el-progress-bar__outer {
                                >div {
                                    background: #4DE5B9 !important;
                                }
                            }
                        }

                        .bdrz {
                            /deep/ .el-progress-bar__outer {
                                >div {
                                    background: #FA9600 !important;
                                }
                            }
                        }

                        .bdrg {
                            /deep/ .el-progress-bar__outer {
                                >div {
                                    background: #E53A40 !important;
                                }
                            }
                        }
                    }

                    .tiaomar {
                        width: 229rem;
                        // width: 140rem;

                        .huanxtop {
                            display: flex;
                            justify-content: center;
                            padding-top: 10rem;
                            align-items: center;

                            .textrtfd {
                                >div {
                                    text-align: center;
                                }

                                .gaismji {
                                    font-size: 14rem;
                                    font-weight: 500;
                                }

                                .yuszbi {
                                    font-size: 8rem;
                                    font-weight: normal;
                                }
                            }

                            .imgyuioj {
                                >img {
                                    height: 18rem;
                                }
                            }
                        }

                        .huanxjdu {
                            margin-top: 20rem;
                            text-align: center;

                            .huanxyet {
                                width: 130rem;

                                /deep/ .el-progress-circle {
                                    width: 100% !important;
                                    height: 100% !important;

                                    svg>path:nth-child(1) {
                                        stroke: #FF9A3E !important;
                                    }
                                }

                                /deep/ .el-progress__text {
                                    color: #fff !important;
                                }
                            }
                        }
                    }
                }
            }
        }

        .yobiant {
            width: 1115rem;
            padding: 18rem 28rem 0 28rem;
            display: flex;
            justify-content: space-between;

            .maxbgtp {
                width: 691rem;

                .biaoge {
                    border: 1rem solid rgba(255, 255, 255, 0.2);
                    height: 202rem;
                    border-radius: 5rem;
                    padding: 15rem 23rem;
                    margin-top: 12rem;

                    >div {
                        display: flex;
                        flex-wrap: wrap;
                        justify-content: space-between;
                        overflow: auto;
                        height: 100%;
                        padding-right: 8rem;

                        >div {
                            width: 200rem;
                            margin-bottom: 14rem;
                            cursor: pointer;

                            tr {
                                td {
                                    font-size: 12rem;
                                    text-align: center;
                                    padding: 8rem 0;
                                }

                                .lefttr {
                                    color: #aaa;
                                    width: 66rem;
                                    font-size: 10rem;
                                }
                            }
                        }
                        .dqxz{
                            background: rgba(250, 150, 0, 0.08); 
                        }
                    }
                }
                .yuanqiutu {
                    border: 1rem solid rgba(255, 255, 255, 0.2);
                    height: 226rem;
                    border-radius: 5rem;
                }
            }

            .fxlujig {
                width: 352rem;

                .guaninastye {
                    border: 1rem solid rgba(255, 255, 255, 0.2);
                    height: 473rem;
                    border-radius: 5rem;
                    margin-top: 10rem;
                    padding: 16rem 10rem 10rem 24rem;

                    .xialxz {
                        padding-left: 14rem;
                        display: flex;
                        align-items: center;

                        .fkuai {
                            width: 12rem;
                            height: 12rem;
                            background: #FF9A3E;
                            margin-right: 8rem;
                        }

                        .xialacx {
                            /deep/.el-input__inner {
                                color: #FF9A3E !important;
                                border-color: #FF9A3E !important;
                            }

                            /deep/ .el-select__caret {
                                color: #FF9A3E !important;
                            }
                        }
                    }

                    .xhfor {
                        margin-top: 10rem;
                        height: 380rem;
                        overflow: auto;

                        >div {
                            margin-bottom: 2rem;
                            .ytyz {
                                display: flex;
                                align-items: center;

                                .imgtu {
                                    padding-right: 12rem;

                                    >img {
                                        width: 42rem;
                                        height: 42rem;
                                    }
                                }

                                .zswenz {
                                    .ipdiz {
                                        font-size: 14rem;
                                        font-weight: 500;
                                    }

                                    .azswenztex {
                                        font-size: 12rem;
                                        font-weight: 350;
                                        color: #CBCBCB;
                                    }
                                }
                            }

                            .zhesjiant {
                                padding-left: 20rem;

                                .tetxbox {
                                    border-left: 1px solid #CBCBCB;
                                    padding: 10rem 0 6rem 0;
                                    position: relative;

                                    >div {
                                        font-size: 12rem;
                                        font-weight: normal;
                                        color: #CBCBCB;
                                        padding-left: 14rem;
                                    }

                                    >i {
                                        position: absolute;
                                        color: #CBCBCB;
                                        bottom: -4rem;
                                        font-size: 9rem;
                                        left: -5rem;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}