.instrumentpanel {
    .top {
        display: flex;
        justify-content: space-between;

        >div {
            width: 904px;
            height: 293px;
            box-sizing: border-box;
        }

        .top_left {
            display: flex;

            .yauntu {
                width: 375px;

                .text {
                    font-size: 16px;
                    font-weight: bold;
                    text-align: center;
                    // padding: 22px 0;
                    padding-top: 30px;
                    padding-bottom: 20px;
                }

                .echar {
                    height: 150px;
                    position: relative;

                    .dw {
                        position: absolute;
                        top: 0;
                        left: 0;
                        right: 0;

                        .younum {
                            position: absolute;
                            top: 118px;
                            left: 138px;
                            font-size: 10px;
                            font-weight: normal;
                            color: #AAAAAA;
                        }

                        .zuonum {
                            position: absolute;
                            top: 118px;
                            left: 222px;
                            font-size: 10px;
                            font-weight: normal;
                            color: #AAAAAA;
                        }

                        .zjiannum {
                            position: absolute;
                            top: 113px;
                            left: 150px;
                            font-size: 24px;
                            font-weight: 900;
                            // color: #FA9600;
                            width: 70px;
                            text-align: center;
                        }
                    }
                }

                .bjtimg {
                    display: flex;
                    justify-content: center;
                    padding: 6px 0;

                    .numtext {
                        font-size: 18px;
                        font-weight: normal;
                        margin-left: 8px;
                    }

                    .tibiao {
                        >img {
                            height: 24px;
                        }
                    }
                }

                .footery {
                    text-align: center;
                    font-size: 10px;
                    font-weight: normal;
                }
            }

            .sjdata {
                width: 529px;
                padding-top: 33px;
                padding-right: 78px;

                .scgxe {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    padding-bottom: 20px;

                    .sjiangx {
                        display: flex;
                        align-items: center;

                        >i {
                            font-size: 14px;
                            margin-right: 6px;
                            cursor: pointer;
                        }

                        >p {
                            font-size: 10px;
                            font-weight: normal;
                        }
                    }

                    .younsles {
                        display: flex;
                        align-items: center;
                        font-size: 10px;
                        font-weight: normal;
                    }
                }

                .boxsjudhu {
                    display: flex;
                    justify-content: space-between;

                    >div {
                        width: 210px;
                        height: 80px;
                        background: #0085FF;
                        border-radius: 8px;
                        padding-left: 16px;
                        padding-top: 14px;

                        .numcs {
                            display: flex;
                            align-items: flex-end;

                            .numtew {
                                font-size: 28px;
                                font-weight: bold;
                                padding-right: 10px;
                            }

                            .danwer {
                                font-size: 12px;
                                padding-bottom: 6px;
                            }
                        }

                        .tuiyannum {
                            font-size: 14px;
                            font-weight: normal;
                            padding-top: 2px;
                        }
                    }

                    .tuiyan {
                        background: url(../img/ty.png) no-repeat;
                        background-size: 100% 100%;
                    }

                    .yb {
                        background: url(../img/yb.png) no-repeat;
                        background-size: 100% 100%;
                    }

                    .yx {
                        background: url(../img/yx.png) no-repeat;
                        background-size: 100% 100%;
                    }

                    .zl {
                        background: url(../img/zl.png) no-repeat;
                        background-size: 100% 100%;
                    }
                }
            }
        }

        .top_right {
            padding: 24px 28px 39px;

            .zqxuanz {
                display: flex;
                justify-content: flex-end;
                align-items: center;
                font-size: 10px;
                font-weight: normal;
            }

            .ecrlin {
                height: 190px;
            }
        }
    }

    .bottrmbu {
        display: flex;
        justify-content: space-between;
        padding-top: 16px;

        .zuoniamt {
            width: 693px;

            .czaifx {
                padding: 18px 28px;
                height: 262px;
            }

            .xianbian {
                margin-top: 16px;
                padding: 18px 28px;
                height: 262px;

                .tcneiring {
                    display: flex;
                    justify-content: space-between;

                    .tebdsw {
                        width: 436px;

                        .jdutiao {
                            /deep/ .el-progress-bar__outer {
                                border: 1px solid #aaa;
                                background: transparent !important;

                                >div {
                                    >div {
                                        color: #fff !important;
                                    }
                                }
                            }
                        }

                        .bdrd {
                            /deep/ .el-progress-bar__outer {
                                >div {
                                    background: #4DE5B9 !important;
                                }
                            }
                        }

                        .bdrz {
                            /deep/ .el-progress-bar__outer {
                                >div {
                                    background: #FA9600 !important;
                                }
                            }
                        }

                        .bdrg {
                            /deep/ .el-progress-bar__outer {
                                >div {
                                    background: #E53A40 !important;
                                }
                            }
                        }
                    }

                    .tiaomar {
                        width: 229px;
                        // width: 140px;

                        .huanxtop {
                            display: flex;
                            justify-content: center;
                            padding-top: 10px;
                            align-items: center;

                            .textrtfd {
                                >div {
                                    text-align: center;
                                }

                                .gaismji {
                                    font-size: 14px;
                                    font-weight: 500;
                                }

                                .yuszbi {
                                    font-size: 8px;
                                    font-weight: normal;
                                }
                            }

                            .imgyuioj {
                                >img {
                                    height: 18px;
                                }
                            }
                        }

                        .huanxjdu {
                            margin-top: 20px;
                            text-align: center;

                            .huanxyet {
                                width: 130px;

                                /deep/ .el-progress-circle {
                                    width: 100% !important;
                                    height: 100% !important;

                                    svg>path:nth-child(1) {
                                        stroke: #FF9A3E !important;
                                    }
                                }

                                /deep/ .el-progress__text {
                                    color: #fff !important;
                                }
                            }
                        }
                    }
                }
            }
        }

        .yobiant {
            width: 1115px;
            padding: 18px 28px 0 28px;
            display: flex;
            justify-content: space-between;

            .maxbgtp {
                width: 691px;

                .biaoge {
                    border: 1px solid rgba(255, 255, 255, 0.2);
                    height: 202px;
                    border-radius: 5px;
                    padding: 15px 23px;
                    margin-top: 12px;

                    >div {
                        display: flex;
                        flex-wrap: wrap;
                        // justify-content: space-between;
                        overflow: auto;
                        height: 100%;
                        padding-right: 8px;

                        >div {
                            width: 200px;
                            margin-bottom: 14px;
                            cursor: pointer;
                            margin-right: 10px;
                            // margin: 0;

                            tr {
                                td {
                                    font-size: 12px;
                                    text-align: center;
                                    padding: 8px 0;
                                }

                                .lefttr {
                                    color: #aaa;
                                    width: 66px;
                                    font-size: 10px;
                                }
                            }
                        }

                        .dqxz {
                            table {
                                background: rgba(250, 150, 0, 0.08);
                            }

                        }
                    }
                }

                .yuanqiutu {
                    border: 1px solid rgba(255, 255, 255, 0.2);
                    height: 226px;
                    border-radius: 5px;
                }
            }

            .fxlujig {
                width: 352px;

                .guaninastye {
                    border: 1px solid rgba(255, 255, 255, 0.2);
                    height: 473px;
                    border-radius: 5px;
                    margin-top: 10px;
                    padding: 16px 10px 10px 24px;

                    .xialxz {
                        padding-left: 14px;
                        display: flex;
                        align-items: center;

                        .fkuai {
                            width: 12px;
                            height: 12px;
                            background: #FF9A3E;
                            margin-right: 8px;
                        }

                        .xialacx {
                            /deep/.el-input__inner {
                                color: #FF9A3E !important;
                                border-color: #FF9A3E !important;
                            }

                            /deep/ .el-select__caret {
                                color: #FF9A3E !important;
                            }
                        }
                    }

                    .xhfor {
                        margin-top: 10px;
                        height: 380px;
                        overflow: auto;

                        >div {
                            margin-bottom: 2px;

                            .ytyz {
                                display: flex;
                                align-items: center;

                                .imgtu {
                                    padding-right: 12px;

                                    >img {
                                        width: 42px;
                                        height: 42px;
                                    }
                                }

                                .zswenz {
                                    .ipdiz {
                                        font-size: 14px;
                                        font-weight: 500;
                                    }

                                    .azswenztex {
                                        font-size: 12px;
                                        font-weight: 350;
                                        color: #CBCBCB;
                                    }
                                }
                            }

                            .zhesjiant {
                                padding-left: 20px;

                                .tetxbox {
                                    border-left: 1px solid #CBCBCB;
                                    padding: 10px 0 6px 0;
                                    position: relative;

                                    >div {
                                        font-size: 12px;
                                        font-weight: normal;
                                        color: #CBCBCB;
                                        padding-left: 14px;
                                    }

                                    >i {
                                        position: absolute;
                                        color: #CBCBCB;
                                        bottom: -4px;
                                        font-size: 9px;
                                        left: -5px;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}