.knowledgedetails {
    .container {
        display: flex;
        justify-content: space-between;

        .left {
            width: 1204px;

            .anquanld {
                height: 698px;
                padding: 30px;

                .anqtop {
                    display: flex;
                    justify-content: space-between;

                    .anquanleft {
                        width: 884px;

                        .bordersj {
                            display: flex;
                            align-items: center;
                            line-height: 35px;
                            padding-bottom: 20px;
                            border-bottom: 1px solid rgba(255, 255, 255, 0.3);

                            .guns {
                                height: 20px;
                                width: 4px;
                                background: #fa9600;
                                margin-right: 8px;
                            }

                            .wenz {
                                font-size: 24px;
                                font-weight: 500;
                            }
                        }

                        .textwenz {

                            padding-top: 20px;

                            // padding: 20px 0;
                            // border-bottom: 1px solid rgba(255, 255, 255, 0.3);
                            >div {
                                display: flex;

                                >div {
                                    display: flex;
                                    width: 314px;
                                    font-size: 12px;
                                }
                            }

                            .xiantiao {
                                padding-top: 20px;
                                align-items: center;
                                font-size: 14px;
                                position: relative;

                                .xiant {
                                    position: absolute;
                                    height: 1px;
                                    background: rgba(255, 255, 255, 0.3);
                                    width: 810px;
                                    right: 0px;
                                }

                                .yaokuanx {
                                    width: 1065px;
                                    right: -255px;
                                }
                            }
                        }

                        .jianjier {
                            padding: 20px 0;

                            // >p {
                            //     line-height: 16px;
                            //     font-size: 12px;
                            // }
                        }

                        .ckaowz {
                            display: flex;
                            align-items: center;
                            font-size: 14px;
                            position: relative;

                            >div {
                                position: absolute;
                                height: 1px;
                                background: rgba(255, 255, 255, 0.3);
                                width: 1065px;
                                right: -255px;
                            }
                        }

                        .jianyibox {
                            padding: 20px 0;
                        }

                        .laiyaunxd {

                            padding: 20px 0;

                            >div {
                                display: flex;

                                >a {
                                    color: #02A7F0;
                                }
                            }
                        }
                    }

                    .anqunrigth {
                        width: 208px;
                        text-align: center;

                        >img {
                            width: 180px;
                        }
                    }
                }
            }

            .loudzstp {
                margin-top: 16px;
                height: 763px;
                padding: 20px 30px;

                .bordersj {
                    display: flex;
                    align-items: center;
                    line-height: 26px;
                    padding-bottom: 20px;
                    border-bottom: 1px solid rgba(255, 255, 255, 0.3);

                    .guns {
                        height: 18px;
                        width: 4px;
                        background: #fa9600;
                        margin-right: 8px;
                    }

                    .wenz {
                        font-size: 18px;
                        font-weight: 500;
                    }
                }

                .tuput {
                    height: 670px;
                }
            }
        }

        .rigth {
            width: 604px;

            .cweixian {
                height: 510px;
                padding: 15px 40px;

                .paiyi {
                    padding-bottom: 12px;
                    display: flex;
                    justify-content: space-between;
                    align-items: flex-end;
                    border-bottom: 1px solid rgba(255, 255, 255, 0.2);

                    .numtext {
                        font-size: 48px;
                        font-weight: 900;
                        color: #9F0006;
                    }

                    .strtext {
                        color: #9F0006;
                        font-size: 24px;
                        font-weight: bold;
                    }
                }

                .pailist {
                    padding-top: 26px;

                    >div {
                        margin-bottom: 16px;
                        display: flex;

                        .totol {
                            width: 88px;
                            line-height: 32px;
                        }

                        .borderh {
                            width: 422px;
                            text-align: right;
                            height: 32px;
                            background: #8C8C8C;
                            border-left: 4px solid #fff;
                            display: flex;
                            align-items: center;
                            justify-content: flex-end;
                            padding-right: 17px;

                            >div {
                                width: 60px;
                                line-height: 22px;
                                text-align: center;
                                border-radius: 4px;
                            }

                            .hongs {
                                background: #9F0006;
                            }

                            .fens {
                                background: #E53A40;
                            }

                            .cens {
                                background: #FA9600;
                            }

                            .huangs {
                                background: #F6D535;
                            }
                        }
                    }
                }
            }

            .xsloud {
                height: 348px;
                margin-top: 16px;
                padding: 20px 30px;

                .bordersj {
                    display: flex;
                    align-items: center;
                    line-height: 26px;
                    padding-bottom: 20px;
                    border-bottom: 1px solid rgba(255, 255, 255, 0.3);

                    .guns {
                        height: 18px;
                        width: 4px;
                        background: #fa9600;
                        margin-right: 8px;
                    }

                    .wenz {
                        font-size: 18px;
                        font-weight: 500;
                    }
                }

                .toubukai {
                    // border-top: 1px solid rgba(255, 255, 255, 0.3);
                    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
                    line-height: 40px;
                    display: flex;

                    >div {
                        width: 33.333%;
                        padding: 0 10px;
                        text-align: center;
                    }
                }

                .listarr {
                    line-height: 46px;
                    display: flex;

                    >div {
                        width: 33.333%;
                        text-align: center;
                    }

                    .cweis {
                        color: #9F0006;
                    }
                }
            }

            .knzhans {

                height: 348px;
                margin-top: 16px;
                padding: 20px 30px;

                .bordersj {
                    display: flex;
                    align-items: center;
                    line-height: 26px;
                    padding-bottom: 20px;
                    border-bottom: 1px solid rgba(255, 255, 255, 0.3);

                    .guns {
                        height: 18px;
                        width: 4px;
                        background: #fa9600;
                        margin-right: 8px;
                    }

                    .wenz {
                        font-size: 18px;
                        font-weight: 500;
                    }
                }

                .toubukai {
                    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
                    line-height: 40px;
                    display: flex;

                    >div {
                        width: 50%;
                        padding: 0 10px;
                        text-align: center;
                    }
                }

                .listarr {
                    line-height: 46px;
                    display: flex;

                    >div {
                        width: 50%;
                        text-align: center;
                    }
                }
            }
        }
    }
}